@import '../../../style/variables';

.loginSetNavigation {
  color: black;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  font-size: 20px;
}

.logo {
  display: flex;
  margin: 0;
}

.logoName {
  padding: 15px 0 0 15px;
}

.logoName p {
  margin: 0;
}

.logoName p:last-of-type {
  font-weight: 600;
}

#navControl {
  background: $color-primary;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 5px $color-accent;
  z-index: 500;
}

.navUILogo {
  height: 70px;
  width: 70px;
  margin: 3px 3px 3px 20px;
}

.signOut {
  height: 25px;
  width: 25px;
}

.navLinks {
  padding: 0 20px 0 20px;
}

#navControl .navLink {
  float: right;
  margin: 25px 20px 5px 5px;
  padding: 0px;
  color: $color-quaternary;
  font-weight: 600;
}

#navControl .navLink:hover {
  color: $color-septenary;
  text-shadow: 2px 2px #b5b5b5;
}

#navControl .navLink:active {
  color: $color-secondary;
}

// React burger menu

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 42px;
  height: 35px;
  left: 85%;
  top: 2.5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $color-secondary;
  height: 15% !important;
  border-radius: 15px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $color-tertiary;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $color-tertiary;
}

/* General sidebar styles */
.bm-menu {
  background: $color-primary;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 45% !important;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  color: $color-secondary;
  margin-bottom: 15px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}

.bm-item:visited {
  color: $color-secondary;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}