@import '../../../style/variables.scss';

Link a {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: $color-primary;
}

.formHeader {
  color: $color-secondary;
  margin-top: 40px;
  text-align: center;
}

.intro-body {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.business, .volunteer {
  width: 40%;
  margin: 50px 0 0 0;
  text-align: center;
  animation: fade-in 2s linear;
  color: $color-denary;
}

.signup-business {
  color: #0052c8;
  font-size: 14px;
}

.signup-business:hover {
  box-shadow: 0px 1px 15px 2px #0052c8;
  color: #0052c8;
}

.signup-volunteer {
  color: $color-secondary;
  font-size: 14px;
}

.signup-volunteer:hover {
  box-shadow: 0px 1px 15px 2px $color-secondary;
  color: $color-secondary;
}

.business > p, .volunteer > p {
  width: 60%;
  margin-left: 20%;
  margin-right: auto;
  color: $color-denary;
}

@keyframes fade-in {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

.vertical-line {
  border-left: 4px solid $color-quaternary;
  height: 200px;
  margin: 50px 0 0 0;
}

.main-details {
  background: url('../../../assets/fistbump.jpg') no-repeat content-box;
  background-size: cover;
  height: 530px;
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.about-container {
  width: 50%;
  height: 55%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 85px 0 0 0;
  background: rgba(0, 0, 0, 0.6);
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
}

.about-container p {
  width: 85%;
  height: auto;
  color: $color-primary;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 600px){

}
