@import '../../../style/variables.scss';

.barChart-image {
  width: 340px;
  height: 374px;
}

.keyboard-image {
  width: 250px;
  height: 250px;
}

.infoTextVolunteer {
  color: white;
  text-align: center;
  position: absolute;
  padding: 0;
  margin-top: 2%;
}

.infoTextBusiness {
  color: white;
  text-align: center;
  position: absolute;
  padding: 0;
  margin-top: 2%;
}

.landing-image {
  background: url('../../../assets/landing-image.jpg') no-repeat content-box;
  background-size: cover;
  width: 100%;
  max-height: 35vw;
  padding: 75px 0 0 0;
}

.siteTitle {
  // top, right, bottom, left
  margin: 0 auto 5% auto;
  display: block;
  text-align: center;
  padding: 100px 0 0 0;
  color: $color-primary;
  font-size: 60px;
  text-shadow: 3px 3px $color-quaternary;
  opacity: 1;
}

.intro-text {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
  animation: fade-in 1.5s linear;
}

.intro-text p {
  margin-top: 0;
  margin-bottom: 0;
  width: 50%;
  font-size: 25px;
  color: $color-primary;
  text-shadow: 2px 2px $color-accent;
  opacity: 1;
}

@keyframes fade-in {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes slide-in {
  0% { transform: translateX(-100px);}
  100% { transform: translateX(0%); }
}

@keyframes bounce {
  0%, 50%, 100% { transform: translateY(-15px); }
  25%, 75% { transform: translateY(15px); }
}

// Mobile
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {
  .landing-image {
    height: 80vw;
  }

  .intro-headline p {
    font-size: 14px;
    width: 80%;
    padding: 2%;
  }

  .intro-text {
    margin-top: 0px;
  }

  .intro-text p {
    width: 80%;
    font-size: 14px;
    font-weight: normal;
  }

  .siteTitle {
    padding: 0px 0 0 0;
    margin: -2% auto 0% auto;
  }

  .siteTitle div {
    font-size: 32px;
  }
}

//Mobile Landscape
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
  .siteTitle {
    padding: 20px 0 0 0;
    margin: 0 auto 2% auto
  }

  .intro-text {
    margin: 10px;
    padding-bottom: 10px;
  }

  .intro-text p {
    font-size: 20px;
  }
}

//Tablet
@media only screen and (min-width: 737px) and (max-width: 900px){
  .landing-image {
    height: 60vw;
  }

  .intro-headline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }

  .intro-headline p {
    font-size: 16px;
    width: 80%;
    padding: 2%;
  }

  .arrow-wrapper svg {
    margin-top: 2vw;
  }

  .siteTitle {
    padding: 30px 0 0 0;
    margin: 0% auto 2% auto;
  }

  .intro-text {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1300px){
  .landing-image {
    height: 40vw;
  }

  .intro-title h1 {
    font-size: 45px;
  }

  .arrow-wrapper {
    margin-top: 1vw;
  }

  .intro-headline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }
}

@media only screen and (min-width: 1300px){
  .landing-image {
    height: 45vw;
  }

  .intro-title h1 {
    font-size: 50px;
    letter-spacing: 15px;
  }
}
