@import '../../../style/variables.scss';

.barChart-image {
  width: 340px;
  height: 374px;
}

.keyboard-image {
  width: 250px;
  height: 250px;
}

.infoTextVolunteer {
  color: white;
  text-align: center;
  position: absolute;
  padding: 0;
  margin-top: 2%;
}

.infoTextBusiness {
  color: white;
  text-align: center;
  position: absolute;
  padding: 0;
  margin-top: 2%;
}

.landing-image {
  // background: url('../../../assets/landing_image.jpg') no-repeat content-box;
  background-color: $color-secondary;
  background-size: 100% 100%;
  width: 100%;
  height: 50vw;
}

.overlay {
  //background-color: $color-septenary;
  //opacity: 0.95;
  //height: inherit;
}

.siteTitle {
  // top, right, bottom, left
  margin: 20px auto 0 auto;
  display: block;
}

.intro-title {
  margin: 0;
  font-size: 35px;
  color: $color-primary;
  text-align: center;
}

.intro-title h1 {
  font-weight: 100;
  text-shadow: 3px 3px 0px $color-senary;
  margin: 0;
  padding-top: 30px;
  font-family: $raleway;
  width: 100%;
  font-size: 40px;
}

.intro-headline {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
}

.intro-headline p {
  font-size: 20px;
  width: 40%;
  font-family: $raleway;
}

.intro-headline p:first-of-type {
  color: $color-quinary;
  animation: example 3s, slide-in 2s;
}

.intro-headline p:last-of-type {
  color: $color-secondary;
  opacity: 0;
  animation: example 2s linear 1s forwards, slide-in 2s 0.5s;
}

@keyframes example {
  0% {opacity: 0; left: -100px}
  100% {opacity: 1; left: 0;}
}

@keyframes slide-in {
    0% { transform: translateX(-100px);}
    100% { transform: translateX(0%); }
}

.arrow-wrapper svg {
  width: 40px;
  height: 40px;
  margin-top: 8vw;
  margin-left: 47vw;
  animation: bounce 2s linear 0s infinite normal;
}

@keyframes bounce {
  0%, 50%, 100% { transform: translateY(-15px); }
  25%, 75% { transform: translateY(15px); }
}

@media only screen and (min-width: 320px) and (max-width: 700px){
  .landing-image {
    height: 80vw;
  }

  .intro-headline p {
    font-size: 14px;
    width: 80%;
    padding: 2%;
  }

  .arrow-wrapper svg {
    margin-top: 2vw;
  }
}

@media only screen and (min-width: 701px) and (max-width: 900px){
  .landing-image {
    height: 60vw;
  }

  .intro-headline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }

  .intro-headline p {
    font-size: 16px;
    width: 80%;
    padding: 2%;
  }

  .arrow-wrapper svg {
    margin-top: 2vw;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1300px){
  .landing-image {
    height: 40vw;
  }

  .intro-title h1 {
    font-size: 45px;
  }

  .arrow-wrapper {
    margin-top: 1vw;
  }

  .intro-headline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }
}

@media only screen and (min-width: 1300px){
  .landing-image {
    height: 45vw;
  }

  .intro-title h1 {
    font-size: 50px;
    letter-spacing: 15px;
  }
}
