.landing-image {
  background: url('../../../assets/landing_image.jpg') no-repeat center;
  background-size: contain;
  width: 100;
  height: 50vw;
  min-height: 100%;
  border: 1px solid black;
}

Link a {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: $color-primary;
}
p {
  color: $color-primary;
}

.formHeader {
  color: $color-secondary;
  margin-top: 40px;
  text-align: center;
}
