@import '../../../style/variables.scss';

.latest-projects-container {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  text-align: center;
  background-color: $color-eleven;
  padding: 50px 0 50px 0;
}

.latest-projects-container > h2:nth-child(1) {
    font-size: 35px;
}

.latest-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
  height: auto;
}

.latest-project {
  width: 25vw;
  height: 20vw;
  background-color: $color-primary;
  padding: 5px;
  box-shadow: 0 3px 7px 3px $color-senary;
  border-radius: 5px;
  color: $color-septenary;
}

@media only screen and (min-width: 320px) and (max-width: 700px){
  .project {
    width: 70vw;
    height: 50vw;
  }
}

@media only screen and (min-width: 701px) and (max-width: 900px){
  .project {
    width: 40vw;
    height: 35vw;
  }
}
