language: java

jdk:
- oraclejdk8

env:
- NODE_VERSION="10.15"

before_install:
- nvm install $NODE_VERSION


script:
  - cd front-end && npm run build
  - ./gradlew build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master
  local-dir: ./front-end/build