@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: "Proxima_Nova";
  src: url("../assets/proxima_nova_reg.ttf");
}

body {
  background-color: $color-accent;
  font-family: $proxima;
  color: $color-secondary;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: $proxima;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 3%;
}

html {
  overflow-y: scroll;
}
.logo {
  margin:50px auto;
  width: 250px;
  display: block;
}

a {
  text-decoration: none;
}
a:visited {
  color: $color-secondary;
}

