@import "variables";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');
@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  //src: url("../assets/proxima_nova_reg.ttf");
}

body {
  background-color: $color-primary;
  font-family: $raleway;
  color: $color-secondary;
  height: 100%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
  flex: 1 0 auto;
  //overflow: scroll;
  position: relative;
  //padding-bottom: 50px;
}

.flex {
  display: flex;
  justify-content: center;
}

button {
  width: 170px;
  height: 40px;
  background-color: $color-primary;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: #dddddd;
  color: #666666;
}

h1 {
  font-family: $josefinsans;
  font-size: 2em;
  margin-bottom: 3%;
}

html {
  //overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

p {
  color: $color-octonary;
}

.logo {
  margin:50px auto;
  width: 250px;
  display: block;
}

a {
  text-decoration: none;
}
a:visited {
  color: #551A8B;
}

.centered {
  width: 100%;
  margin: 0 auto;
}

.underline {
  width: 10%;
  height: 1px;
  background-color: $color-septenary;
  color: $color-septenary;
}

.header-underline {
  width: 100%;
  height: 1px;
  background-color: $color-septenary;
  color: $color-septenary;
  margin: 0;
}

footer {
  width: 100%;
  height: 50px;
  background-color: $color-quaternary;
  bottom: 0;
  color: $color-octonary;
}
