@import "variables";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@font-face {
  font-family: 'Josefin Sans', sans-serif;
  //src: url("../assets/proxima_nova_reg.ttf");
}

body {
  background-color: $color-primary;
  font-family: $josefinsans;
  color: $color-secondary;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: $josefinsans;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 3%;
}

html {
  overflow-y: scroll;
}
.logo {
  margin:50px auto;
  width: 250px;
  display: block;
}

a {
  text-decoration: none;
}
a:visited {
  color: $color-secondary;
}

.centered {
  width: 100%;
  margin: 0 auto;
}

.error {
  color: red;
}

