@import "variables";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');
@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  //src: url("../assets/proxima_nova_reg.ttf");
}

body {
  background-color: $color-primary;
  font-family: $raleway;
  color: $color-secondary;
  height: 100vh;
  margin: 0;
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: $josefinsans;
  font-size: 2em;
  margin-bottom: 3%;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.logo {
  margin:50px auto;
  width: 250px;
  display: block;
}

a {
  text-decoration: none;
}
a:visited {
  color: $color-nonary;
}

.centered {
  width: 100%;
  margin: 0 auto;
}

.error {
  color: red;
}

.underline {
  width: 10%;
  height: 1px;
  background-color: $color-septenary;
  color: $color-septenary;
}

footer {
  width: 100%;
  height: 50px;
  background-color: $color-quaternary;
  bottom: 0;
  color: $color-octonary;
}
