.about-us-container {
  min-height: 100vh;
}

.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  top: 75px;
  height: auto;
  position: relative;
}

.header-styles {
  color: black;
  font-size: large;
  width: 100%;
  text-align: center;
  height: 50px;
  align-self: flex-start;
}

.about-style-container {
  width: 70%;
  align-self: center;
  top: 30%;
  height: 70vh;
}

.about-styles {
  color: black;
  font-size: small;
}
