@import '../../../style/variables';

.project-info {
  height: 60vh;
  justify-content: space-between;
}

.project-info > div {
  padding: 20px;
}

.project-container {
  width: 55%;
  border: 1px solid $color-thirteen;
}

.business-container {
  //width: 50%;
  border: 1px solid $color-thirteen;
  flex: 0 0 35%;
  //max-width: 40%;
}
