@import '../../../style/variables';

.project-details {
  width: 80%;
  top: 100px;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 20px 20px 60px 20px;
  //border: 1px solid $color-thirteen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 74.5vh;
}
