@import '../../../style/variables';

.project-details {
  width: 100%;
  top: 80px;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 30px 0 20px 0;
  flex-direction: column;
  justify-content: space-between;
  min-height: 81vh;
  flex: 1;
  height: auto;
}
