@import '../../../style/variables.scss';

.footer {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  flex-shrink: 0;
  bottom: 0;
  position: absolute;
}

.footer-container {
  padding-top: 15px;
}
