@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
  font-family: "Proxima_Nova";
  src: url(static/feface72008e6857da27f939e1eceffa.ttf); }

body {
  background-color: #ffffff;
  font-family: "Proxima_Nova", sans-serif;
  color: #ea402c; }

button:hover {
  cursor: pointer; }

h1 {
  font-family: "Proxima_Nova", sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 3%; }

html {
  overflow-y: scroll; }

.logo {
  margin: 50px auto;
  width: 250px;
  display: block; }

a {
  text-decoration: none; }

a:visited {
  color: #ea402c; }

