@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway);
@font-face {
  font-family: 'Josefin Sans', sans-serif; }

body {
  background-color: #24B4D6;
  font-family: "Josefin Sans", sans-serif;
  color: #24B4D6;
  margin: 0; }

button:hover {
  cursor: pointer; }

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  margin-bottom: 3%; }

html {
  overflow-y: scroll;
  scroll-behavior: smooth; }

.logo {
  margin: 50px auto;
  width: 250px;
  display: block; }

a {
  text-decoration: none; }

a:visited {
  color: #24B4D6; }

.centered {
  width: 100%;
  margin: 0 auto; }

.error {
  color: red; }

.create-form {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  border-radius: 2px; }
  .create-form.signup {
    margin: 0px auto; }

.create-form h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
  color: #5C5C5C;
  font-size: x-large; }

.create-form li {
  display: block;
  padding: 9px;
  border: 1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px; }

.create-form li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden; }

.create-form input[type="text"],
.create-form input[type="email"],
.create-form input[type="number"],
.create-form input[type="search"],
.create-form input[type="password"],
.create-form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0; }

.create-form li > span {
  background: #F3F3F3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #C0C0C0;
  font-size: 11px; }

#navControl {
  background: #FF5757; }

.navUILogo {
  height: 70px;
  width: 70px;
  margin: 3px 3px 3px 20px; }

.signOut {
  height: 25px;
  width: 25px; }

#navControl .navLink {
  float: right;
  margin: 30px 20px 5px 5px;
  padding: 0px;
  color: #494848; }

#navControl .navLink:hover {
  color: #ffffff; }

#navControl .navLink:active {
  color: #24B4D6; }

.barChart-image {
  width: 340px;
  height: 374px; }

.keyboard-image {
  width: 300px;
  height: 300px; }

.infoTextVolunteer {
  text-align: center;
  position: absolute;
  padding: 0;
  margin-top: 2%; }

.infoTextBusiness {
  text-align: center;
  position: absolute;
  padding: 0;
  margin-top: 2%; }

.landing-image {
  background: url(35080835a2d760ccefa304471dae8f97.jpg) no-repeat content-box;
  background-size: 100% 100%;
  width: 100%;
  height: 50vw; }

.overlay {
  background-color: #494848;
  opacity: 0.95;
  height: inherit; }

.intro-title {
  margin: 0;
  font-size: 35px;
  color: #ffffff;
  text-align: center; }

.intro-title h1 {
  font-weight: 100;
  text-shadow: 3px 3px 0px #3891A6;
  margin: 0;
  padding-top: 30px;
  font-family: "Raleway", Raleways-serif;
  width: 100%;
  font-size: 40px; }

.intro-headline {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%; }

.intro-headline p {
  font-size: 20px;
  width: 40%;
  font-family: "Raleway", Raleways-serif; }

.intro-headline p:first-of-type {
  color: #FA9958;
  animation: example 3s, slide-in 2s; }

.intro-headline p:last-of-type {
  color: #24B4D6;
  opacity: 0;
  animation: example 2s linear 1s forwards, slide-in 2s 0.5s; }

@keyframes example {
  0% {
    opacity: 0;
    left: -100px; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes slide-in {
  0% {
    transform: translateX(-100px); }
  100% {
    transform: translateX(0%); } }

.arrow-wrapper svg {
  width: 40px;
  height: 40px;
  margin-top: 8vw;
  margin-left: 47vw;
  animation: bounce 2s linear 0s infinite normal; }

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(-15px); }
  25%, 75% {
    transform: translateY(15px); } }

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .landing-image {
    height: 80vw; }
  .intro-headline p {
    font-size: 14px;
    width: 80%;
    padding: 2%; }
  .arrow-wrapper svg {
    margin-top: 2vw; } }

@media only screen and (min-width: 701px) and (max-width: 900px) {
  .landing-image {
    height: 60vw; }
  .intro-headline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0; }
  .intro-headline p {
    font-size: 16px;
    width: 80%;
    padding: 2%; }
  .arrow-wrapper svg {
    margin-top: 2vw; } }

@media only screen and (min-width: 901px) and (max-width: 1300px) {
  .landing-image {
    height: 40vw; }
  .intro-title h1 {
    font-size: 45px; }
  .arrow-wrapper {
    margin-top: 1vw; }
  .intro-headline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0; } }

@media only screen and (min-width: 1300px) {
  .landing-image {
    height: 45vw; }
  .intro-title h1 {
    font-size: 50px;
    letter-spacing: 15px; } }

.latest-projects {
  width: 100%;
  height: 20vw;
  color: white;
  margin: 50px 0 50px 0;
  text-align: center;
  font-size: 22px; }

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px; }

.latest-projects h3 {
  text-shadow: 3px 3px 0px #808080; }

.project {
  width: 25vw;
  height: 20vw;
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: 0 3px 7px 3px #3891A6;
  border-radius: 5px;
  color: #494848; }

.project > p {
  color: #494848; }

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .project {
    width: 70vw;
    height: 50vw; } }

@media only screen and (min-width: 701px) and (max-width: 900px) {
  .project {
    width: 40vw;
    height: 35vw; } }

.intro-text {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px; }

.intro-text p {
  width: 80%;
  font-size: 30px; }

.underline {
  width: 70vw;
  border-bottom: 2px solid #febc5b;
  margin-top: 5rem;
  margin-bottom: 5rem; }

Link a {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: #ffffff; }

p {
  color: #ffffff; }

.formHeader {
  color: #24B4D6;
  margin-top: 40px;
  text-align: center; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .intro-text p {
    width: 80%;
    font-size: 20px;
    font-weight: normal; } }

.tempText {
  margin-left: 1%; }

