@import '../../../style/variables.scss';

.profile {
  padding-top: 75px;
  color: $color-primary;
  flex-flow: row wrap;
}

.profile-info {
  width: 100%;
  background-color: $color-septenary;
}

.profile > div > span > p {
  color: $color-secondary;
  width: 300px;
}

.profile-container {
  width: 80%;
}

.profile-container > span {
  width: 90%;
}

.profile-projects {
  flex-flow: column wrap;
}

.profile-projects > button {
  align-self: center;
  margin: 50px 0 50px 0;
  border: 1px solid $color-octonary;
  background-color: $color-quaternary;
  color: $color-primary;
}

.open-projects, .closed-projects, .current-projects {
  flex-flow: row wrap;
  justify-content: space-around;
}
.open-projects > h3 {
  margin: 0 0 55px 0;
}

.closed-projects > h3  {
  margin: 40px 0 55px 0;
}
