@import '../../../style/variables';

.projectListHeader {
  color: $color-secondary;
  font-size: 35px;
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
}

.projects {
  //text-shadow: 3px 3px 0 $color-accent;
  padding: 75px 0 0 0;
}
