@import '../../../style/variables';

.aProject {
  text-align: center;
  width: 27vw;
  height: 22vw;
  background-color: $color-primary;
  margin-bottom: 60px;
  box-shadow: 0 3px 7px 3px $color-senary;
  border-radius: 5px;
}

.aProject h2 {
  font-size: 25px;
  margin: 0 0 20px 0;
  padding: 10px;
}

.aProject h3 {
  font-size: 20px;
}

.aProject h4 {
  font-size: 16px;
}

.card-top {
  background-color: $color-twelve;
  color: white;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 700px){
  .aProject {
    width: 70vw;
    height: 50vw;
  }
}

@media only screen and (min-width: 701px) and (max-width: 900px){
  .project {
    width: 40vw;
    height: 35vw;
  }
}
