@import '../../../style/variables.scss';

.projectPane {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 30px;
  background-color: $color-eleven;
}

.project > p {
  color: $color-septenary;
}

@media only screen and (min-width: 320px) and (max-width: 700px){

}

@media only screen and (min-width: 701px) and (max-width: 900px){
  
}
