@import '../../../style/variables';

.aProject {
  text-align: center;
  width: 27vw;
  min-height: 22vw;
  background-color: $color-primary;
  margin-bottom: 60px;
  box-shadow: 3px 3px 7px 0px $color-senary;
  border-radius: 5px;
}

.aProject > * {
  color: $color-octonary;
}

.aProject a {
  width: 100%;
  flex-flow: row wrap;
  padding: 5px;
}

.aProject h2 {
  font-size: 25px;
  margin: 0 0 0 0;
  padding: 20px 0 0 0;
}

.aProject h3 {
  font-size: 20px;
  margin: 0;
}

.aProject h4 {
  font-size: 16px;
  //text-overflow: ellipsis;
  white-space: wrap;
  width: 100%;
}

.aProject p {
  text-align: right;
  padding: 0 20px 0 0;
  flex-grow: 1;
}

.card-vertical-line {
  border-left: 20px solid $color-nonary;
  height: auto;
  margin: 0;
}

.card-top {
  background-color: $color-twelve;
  color: white;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 736px){
  .aProject {
    width: 70vw;
    height: 55vw;
  }
}

@media only screen and (min-width: 737px) and (max-width: 900px){
  .project {
    width: 40vw;
    height: auto;
  }
}
